@page "/"
@using BingoAtHome.Domain;

<PageTitle>Bingo</PageTitle>

<MudGrid>
    <MudItem lg="3">
        <div class="bigcircle">@bingo.Number</div>
        <MudButton Disabled="@_processing" OnClick="ProcessSomething" Variant="Variant.Filled" Color="Color.Primary">
            @if (_processing)
            {
                <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                <MudText Class="ms-2">Drawing next ...</MudText>
            }
            else
            {
                <MudText>Draw next Number</MudText>
            }
        </MudButton>
    </MudItem>
    <MudItem lg="9">

            <table>
                <thead>
                    <tr>
                        <td colspan="3">B</td>
                        <td colspan="3">I</td>
                        <td colspan="3">N</td>
                        <td colspan="3">G</td>
                        <td colspan="3">O</td>
                    </tr>
                </thead>
                <tbody>
                    @for (int line = 0; line < 75 / 5 / 3; line++)
                    {
                        <tr>
                            @for (int column = 0; column < 3 * 5; column++)
                            {
                                var ball = line + column * 15 / 3 + 1;
                                if (bingo.IsDraw(ball))
                                {
                                    <td><div class="circle">@ball</div></td>

                                }
                                else
                                {
                                    <td><div class="nocircle"></div></td>
                                }

                            }
                        </tr>
                    }
                </tbody>
            </table>


        <MudButton OnClick="Reset"
                   Size="Size.Small"
                   Variant="Variant.Filled"
                   EndIcon="@Icons.Material.Filled.Replay"
                   Color="Color.Tertiary">
            Reset Game
        </MudButton>
        <MudSwitch Color="Color.Primary" @bind-Checked=@(actived) Label="Active waiting time" />
    </MudItem>
</MudGrid>


@code {
    private Bingo bingo = new();
    private bool _processing = false;
    private Random rnd = new();
    private bool actived = true;

    private void Reset() => bingo = new();
    private void Draw() => bingo.Draw();

    private async Task ProcessSomething()
    {
        _processing = true;
        if(actived) await Task.Delay(rnd.Next(1,5)*1000);
        _processing = false;
        bingo.Draw();
    }
}
